<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" tipe="text/css" th:href="@{css/style.css}">
</head>
<body>
	<header th:replace="/layouts/header::header">
		<h1>Beneficios</h1>
	</header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" href="#">Portal de Capacitacion</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor02"
				aria-controls="navbarColor02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="inicio">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="agenda">Agenda</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="beneficios">
							Beneficios y Becas </a></li>
					<li class="nav-item"><a class="nav-link" href="contacto">Contactenos</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section class="page-section">
		<div class="container margen">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Becas</h2>
				<h3 class="section-subheading text-muted">listado de becas.</h3>
			</div>
			<div class="row text-center">
				<table class="table table-striped">
					<thead class="table-dark">
						<tr>
							<th scope="col">Codigo</th>
							<th scope="col">Curso</th>
							<th scope="col">Fecha de Inicio</th>
							<th scope="col">Fecha de Cierre</th>
							<th scope="col">Estado</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="beca : ${becas}">
							<th scope="row" th:text="${beca.codigo}"></th>
							<td th:text="${beca.curso.titulo}"></td>
							<td th:text="${beca.fechaInicio}"></td>
							<td th:text="${beca.fechaCierra}"></td>
							<td th:text="${beca.estado}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<footer th:replace="/layouts/footer::footer"></footer>
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js"
		type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
</body>
</html>